* {
    background: #fcd4d4
}

.heading {
    color: rgb(255, 0, 0);
    background-color: #fcd4d4;
    display: flex;
    /* margin: 50px;
    padding: 50px; */
    flex-direction: column;
}

.heading h1 {
    background-color: #fcd4d4;
    margin: 20px;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 2px solid red; */
    /* border-bottom-left-radius: 100px;
    border-top-right-radius: 100px; */
    width: 300px;
    text-align: center;
    /* border-radius: 50px; */
    /* text-decoration: none; */
}

.heading .login-section {
    margin: 2px;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
    border: 2px solid red;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: #D4FCD4;
    width: 300px;
    font-size: 24px;
}

.heading .login-section form{
    background-color: #D4FCD4;
}

.heading .login-section h3{
    background-color: #D4FCD4;
}

.heading .login-section form label{
    background-color: #D4FCD4;
}


.heading .login-section form input{
    background-color: #D4D4FC;
    width: 300px;
    height: 40px;
    border: 2px solid #D4FCD4;
    border-radius: 10px;
    font-size: 20px;
}
.heading .signup-forgot {
    margin: 5px;
    padding: 50px;
    border: 2px solid red;
    border-radius: 50px;
    width: 300px;
    border-bottom-left-radius: 100px; 
    border-top-right-radius: 100px;
    text-align: center;
    font-size: 24px;
    background-color: #D4FCD4;
}

.heading .signup-forgot a{
    text-decoration: none;
    background-color: #D4FCD4;
}