<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Tutorials</title>
</head>

<body>
    <div class="heading">
        <h1>Online Tutorial Services - Forgot Password</h1>
        <h3>{{forgot_error}}</h3>
        <div class="banner">
            <div class="login-section">
                <form action="/forgot_password" method="post">
                    <label for="email">Email Id</label><br>
                    <input type="email" name="userId"><br><br>

                    <label for="mobile">Mobile</label><br>
                    <input type="text" name="mobile"><br><br>
                    <input type="submit" value="Send OTP">
                </form>
            </div>
        </div>
    </div>
</body>

</html>