<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTS</title>
</head>

<body>
    <div class="home">
        <!-- class for CSS Design -->
        <div class="banner"> 
            <h1>Make Payment First on the this UPI: 7631256855@ybl </h1>
            <h3 style="color: green;">You can Donate As much You want.</h3>
        </div>
        <div class="course">
            <img src="/static/Images/icons8-python-48.png" alt="python">
            <h2>Python Language</h2><br>
            <p>Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small- and large-scale projects</p><br>
            <!-- <a href="https://en.wikipedia.org/wiki/Python_(programming_language)">Learn More</a> -->
            <a href="/learn_more">Learn More</a>
        </div>
    </div>
</body>

</html>